/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, section, figure, article, textarea, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
}

img, video, embed, object {
  max-width: 100%;
}

ul, li {
  list-style: none;
  padding-left: 10px;
}

.container {
  padding: 0;
  margin: 0;
  width: 250px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
}
@media screen and (min-width: 525px) {
  .container {
    width: 500px;
  }
}
@media screen and (min-width: 1030px) {
  .container {
    width: 1000px;
  }
}
@media screen and (min-width: 1250px) {
  .container {
    width: 1200px;
  }
}

.row {
  width: 100%;
}

.col-1 {
  width: 8.8333333%;
}

.col-2 {
  width: 17.6666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333%;
}

.col-5 {
  width: 41.6666667%
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.6666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333%;
}

.col-11 {
  width: 91.6666667%;
}

.col-12 {
  width: 100%;
}

.center {
  float: none;
  margin: 0 auto;
}

.offset-4 {
  margin-left: 33.33333%;
}

.background-image-top {
  position: relative;
  background: url("http://res.cloudinary.com/zlindacz/image/upload/b_rgb:a96424,o_55,f_auto,q_72,w_1200/v1473195184/hands_euokot.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width: 100%;
  height: 60vh;
}

@media screen and (max-width: 300px) {
  background: url("http://res.cloudinary.com/zlindacz/image/upload/b_rgb:a96424,o_55,f_auto,q_72,w_300/v1473195184/hands_euokot.jpg") no-repeat center center fixed;
  height: 100vh;
}

body {
  font-family: 'Oxygen', sans-serif;
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  /*border-bottom: 3px solid rgba(232, 212, 139, 0.84);*/
  /*border-radius: 35%;*/
  padding-bottom: 2vh;
  /*padding: 5px 35px;*/
  /*width: 100%;*/
}

.header-img-logo {
  box-sizing: border-box;
  display: flex;
  /*padding: 1vw;*/
}

.logo {
  height: 4.1vw;
  width: 4.1vw;
  max-width: 50px;
  max-height: 50px;
  margin-top: 1.8vh;
  margin-left: 5vw;
  /*margin: 5px 5px 15px 5px;*/
  padding: 1vmax;
}

.logo:hover {
  cursor: pointer;
}

.app-name {
  /*text-align: center;*/
  margin-top: 2.5vh;
  padding-top: 1vmax;
  font-size: 3vmax;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: rgba(252, 245, 217, 0.9);
}

.app-name:hover {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .app-name {
    display: none;
  }
}

.header-list {
  display: flex;
  align-items: flex-end;
  padding: 1vw;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.header-list > li {
  padding: 1.5vw;
  /*margin-top: 1.3vh;*/
  text-align: center;
  font-size: 1.5vw;
  cursor: pointer;
  color: rgba(252, 245, 217, 0.9);
}

.header-list > li:hover {
  box-shadow: 0 -2px rgb(244, 21, 21);
}

.header-list:last-child {
  margin-right: 10px;
}

.welcome-message {
  color: rgba(210, 205, 177, 0.88);
  font-size: 3vmin;
  margin: 2vmax;
  position: absolute;
  top: 140px;
  left: 70px
}

.background-image-foot {
  position: relative;
  background: url("http://res.cloudinary.com/zlindacz/image/upload/v1473363957/dog-shelter_bmzdyk.jpg") no-repeat fixed;
  background-position: 0 150px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 40vh;
}

@media screen and (max-width: 300px) {
  .background-image-foot {
    background: url("http://res.cloudinary.com/zlindacz/image/upload/f_auto,q_72,w_300/v1473363957/dog-shelter_bmzdyk.jpg") no-repeat fixed;
  }
}

.search-bar {
  display: flex;
  justify-content: flex-start;
}

.fa-search {
  color: white;
  opacity: 0.85;
}

.search-bar-input {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border-radius: 3px;
  opacity: 0.7;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out ;
  -webkit-transition: opacity .25s ease-in-out ;
}

.search-bar-input:hover, .search-bar-input:focus {
  opacity: 1;
}

#map-container {
  width: 500px;
  height: 500px;
  margin: 100px auto;
}

.footer-nav {
}

.footer-cap {
  color: white;
  background-color: black;
  height: 4vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tagline {
  position: absolute;
  top: -25px !important;
  left: 100px !important;
  font-family: 'Lora', serif;
  font-size: 50px;
  margin: 40px 20px 20px 20px;
  color: rgba(98, 67, 35, 0.92);
}
