html, body, section, article, h1, h2 ,p, ul, li {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

ul, li {
  list-style: none;
}

body {
  width: 720px;
  margin: 0 auto;
  /*background-color: rgba(247, 207, 195, 0.63);*/
  font-family: 'Oxygen', sans-serif;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid gray;
  border-radius: 35%;
  margin-bottom: 20px;
}

.logo {
  height: 30px;
  width: 30px;
  margin: 5px 0 15px 5px;
  padding: 5px;
}

.header-list {
  display: flex;
  align-items: flex-end;
}

.header-list > li {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.header-list:last-child {
  margin-right: 10px;
}

.login-form-container {
}

.login-form {
}

.login-input-field {

}

.signup-form-container {

}

.signup-input-field {

}

.showForm1 {

}


.showForm2 {

}

.upload-profile-img {

}

.signup-select {

}

.signup-select-box {

}

.add-category {
  
}

.checkbox-title {

}

.signup-checkbox {

}

.showForm3 {

}
