html, body, section, article, h1, h2 ,p, ul, li {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  box-sizing: border-box;
}

html {
  background: url('http://res.cloudinary.com/zlindacz/image/upload/v1473195184/hands_euokot.jpg') fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

ul, li {
  list-style: none;
}

body {
  width: 720px;
  margin: 0 auto;
  font-family: 'Oxygen', sans-serif;
}


.header-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(232, 212, 139, 0.84);
  border-radius: 35%;
  margin-bottom: 20px;
}

.logo {
  height: 30px;
  width: 30px;
  margin: 5px 0 15px 5px;
  padding: 5px;
}

.logo:hover {;Out
  cursor: pointer;
}

.header-list {
  display: flex;
  align-items: flex-end;
}

.header-list > li {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.header-list > li:hover {
  box-shadow: 0 -2px rgb(244, 21, 21);
}

.header-list:last-child {
  margin-right: 10px;
}

.login-form-container {
  margin-top: 20px;
  display: flex;
}

.login-form {
  width: 300px;
  min-width: calc(100%-22px);
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal-close-link {
  position: fixed;
  right: 10px;
  top: 10px;
}

.modal-close-link:hover {
  cursor: pointer;
}

.login-heading {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 50px 0 30px 0;
  color: rgb(48, 8, 62);
}

.login-input-field {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid #cccccc;
  display: inline-block;
  margin: 4px auto;
  width: calc(100% - 60px);
  float: right;
}

.fa {
  float: left;
  padding: 10px;
  margin-top: 4px;
  height: 20px;
}

.login-submit-button {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #4dd844, #0c5206);
  background-image: -moz-linear-gradient(top, #4dd844, #0c5206);
  background-image: -ms-linear-gradient(top, #4dd844, #0c5206);
  background-image: -o-linear-gradient(top, #4dd844, #0c5206);
  background-image: linear-gradient(to bottom, #4dd844, #0c5206);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
  margin: 20px 0 20px 35px;
  display: block;
  width: 88%;
}

.login-submit-button:hover {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #83d468, #415f3c);
  background-image: -moz-linear-gradient(top, #83d468, #415f3c);
  background-image: -ms-linear-gradient(top, #83d468, #415f3c);
  background-image: -o-linear-gradient(top, #83d468, #415f3c);
  background-image: linear-gradient(to bottom, #83d468, #415f3c);
}

/*Sign up button*/

.btn {
  background: #ffec15;
  background-image: -webkit-linear-gradient(top, #ffec15, #f0b41d);
  background-image: -moz-linear-gradient(top, #ffec15, #f0b41d);
  background-image: -ms-linear-gradient(top, #ffec15, #f0b41d);
  background-image: -o-linear-gradient(top, #ffec15, #f0b41d);
  background-image: linear-gradient(to bottom, #ffec15, #f0b41d);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Libre Franklin', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
  float: left;
}

.btn:hover {
  background: #fff869;
  background-image: -webkit-linear-gradient(top, #fff869, #f2d274);
  background-image: -moz-linear-gradient(top, #fff869, #f2d274);
  background-image: -ms-linear-gradient(top, #fff869, #f2d274);
  background-image: -o-linear-gradient(top, #fff869, #f2d274);
  background-image: linear-gradient(to bottom, #fff869, #f2d274);
  cursor: pointer;
}

.show-form1 {
  height: 470px;
  width: 720px;
  border-radius: 3px;
  margin: 50px auto;
  background-color: rgba(196, 178, 163, 0.8);
  box-shadow: 2px 2px 5px 3px rgba(89, 60, 32, 0.72);
}

.form1-container {
  height: 280px;
  width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 35px;
}

.signup-title {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 40px;
  padding-top: 30px;
  margin: 10px 0 25px 25px;
  color: rgb(74, 63, 47);
}

.signup-input-field {
  padding: 10px;
  font-size: 16px;
  margin: 4px 20px;
  width: 240px;
  color: rgb(59, 42, 33);
  background-color: rgb(241, 241, 217);
  border: 1px solid rgb(147, 62, 20);
  opacity: 0.85;
}

.signup-basic-next-button {
  padding: 6px 12px;
  align-items: flex-end;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -moz-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -ms-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -o-linear-gradient(top, #f79d25, #e87b0a);
  background-image: linear-gradient(to bottom, #f79d25, #e87b0a);
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  float: right;
  position: absolute;
  bottom: -60px;
  right: 40px;
}

.signup-basic-next-button:hover {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #ecbb67, #db9834);
  background-image: -moz-linear-gradient(top, #ecbb67, #db9834);
  background-image: -ms-linear-gradient(top, #ecbb67, #db9834);
  background-image: -o-linear-gradient(top, #ecbb67, #db9834);
  background-image: linear-gradient(to bottom, #ecbb67, #db9834);
  cursor: pointer;
}

.upload-image-form {
  width: 520px;
  height: 480px;
  padding: 20px;
  margin: 50px auto;
  background-color: rgba(196, 178, 163, 0.8);
  box-shadow: 2px 2px 5px 3px rgba(89, 60, 32, 0.72);
  display: flex;
  flex-direction: column;
}

.upload-button {
  padding: 10px;
  margin: 20px auto;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  color: rgb(230, 189, 45);
  width: 300px;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #674437, #91522f);
  background-image: -moz-linear-gradient(top, #674437, #91522f);
  background-image: -ms-linear-gradient(top, #674437, #91522f);
  background-image: -o-linear-gradient(top, #674437, #91522f);
  background-image: linear-gradient(to bottom, #674437, #91522f);
}

.upload-button:hover {
  cursor: pointer;
  color: rgb(51, 35, 44);
  background-image: -webkit-linear-gradient(top, #c3903a, #624a20);
  background-image: -moz-linear-gradient(top, #c3903a, #624a20);
  background-image: -ms-linear-gradient(top, #c3903a, #624a20);
  background-image: -o-linear-gradient(top, #c3903a, #624a20);
  background-image: linear-gradient(to bottom, #c3903a, #624a20);
}

.image-container {
  width: 420px;
  height: 320px;
  margin: 20px auto;
  border: 2px solid rgb(147, 62, 20);
  background-color: white;
  background-image: url('http://res.cloudinary.com/zlindacz/image/upload/v1473195322/corkboard_texture_vdgftm.png');
  box-sizing: border-box;
}

.upload-next-button {
  padding: 6px 12px;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -moz-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -ms-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -o-linear-gradient(top, #f79d25, #e87b0a);
  background-image: linear-gradient(to bottom, #f79d25, #e87b0a);
  border-radius: 7px;
  color: #ffffff;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 76px;
  margin: 10px auto;
}

.upload-next-button:hover {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #ecbb67, #db9834);
  background-image: -moz-linear-gradient(top, #ecbb67, #db9834);
  background-image: -ms-linear-gradient(top, #ecbb67, #db9834);
  background-image: -o-linear-gradient(top, #ecbb67, #db9834);
  background-image: linear-gradient(to bottom, #ecbb67, #db9834);
}

.show-form2 {
  width: 700px;
  height: 480px;
  margin: 50px auto;
  border-radius: 3px;
  background-color: rgba(196, 178, 163, 0.8);
  box-shadow: 2px 2px 5px 3px rgba(89, 60, 32, 0.72);
}

.form2-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.signup-description-field {
  width: 500px;
  min-height: 230px;
  resize: none;
  margin: 5px auto;
  padding: 10px;
  color: rgb(59, 42, 33);
  background-color: rgb(241, 241, 217);
  border: 3px solid rgb(147, 62, 20);
  opacity: 0.85;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.signup-description-next-button {
  padding: 6px 12px;
  align-items: flex-end;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -moz-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -ms-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -o-linear-gradient(top, #f79d25, #e87b0a);
  background-image: linear-gradient(to bottom, #f79d25, #e87b0a);
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  height: 40px;
  width: 76px;
  position: absolute;
  bottom: -70px;
  right: 40px;
}

.signup-description-next-button:hover {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #ecbb67, #db9834);
  background-image: -moz-linear-gradient(top, #ecbb67, #db9834);
  background-image: -ms-linear-gradient(top, #ecbb67, #db9834);
  background-image: -o-linear-gradient(top, #ecbb67, #db9834);
  background-image: linear-gradient(to bottom, #ecbb67, #db9834);
}

.show-form3 {
  width: 500px;
  height: 400px;
  margin: 50px auto;
  border-radius: 3px;
  background-color: rgba(196, 178, 163, 0.8);
  box-shadow: 2px 2px 5px 3px rgba(89, 60, 32, 0.72);
}

.form3-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.signup-select-box-container {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  /*margin: 10px;*/
  border: 1px solid rgb(147, 62, 20);
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  background-image:
   linear-gradient(45deg, transparent 50%, gray 50%),
   linear-gradient(135deg, gray 50%, transparent 50%),
   linear-gradient(to right, #ccc, #ccc);
  background-position:
   calc(100% - 20px) calc(1em + 2px),
   calc(100% - 15px) calc(1em + 2px),
   calc(100% - 2.5em) 0.5em;
  background-size:
   5px 5px,
   5px 5px,
   1px 1.5em;
  background-repeat: no-repeat;
}

.signup-category-next-button {
  padding: 6px 12px;
  align-items: flex-end;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -moz-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -ms-linear-gradient(top, #f79d25, #e87b0a);
  background-image: -o-linear-gradient(top, #f79d25, #e87b0a);
  background-image: linear-gradient(to bottom, #f79d25, #e87b0a);
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  height: 40px;
  width: 76px;
}

.signup-category-next-button:hover {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #ecbb67, #db9834);
  background-image: -moz-linear-gradient(top, #ecbb67, #db9834);
  background-image: -ms-linear-gradient(top, #ecbb67, #db9834);
  background-image: -o-linear-gradient(top, #ecbb67, #db9834);
  background-image: linear-gradient(to bottom, #ecbb67, #db9834);
}

.show-form4 {
  width: 720px;
  height: 560px;
  margin: 50px auto;
  border-radius: 3px;
  background-color: rgba(196, 178, 163, 0.8);
  box-shadow: 2px 2px 5px 3px rgba(89, 60, 32, 0.72);
  position: relative;
}

.signup-checkbox {
  margin: 4px;
  width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(186, 8, 67, 0.63);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(186, 8, 67, 0.63);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(186, 8, 67, 0.63);
	position: relative;
}

.signup-checkbox-label {
  font-size: 16px;
  color: rgb(33, 3, 22);
  cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(186, 8, 67, 0.63), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(186, 8, 67, 0.63), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(186, 8, 67, 0.63), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #520734 0%, #943b86 100%);
	background: -moz-linear-gradient(top, #520734 0%, #943b86 100%);
	background: -o-linear-gradient(top, #520734 0%, #943b86 100%);
	background: -ms-linear-gradient(top, #520734 0%, #943b86 100%);
	background: linear-gradient(top, #520734 0%, #943b86 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.signup-checkbox label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.signup-checkbox label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.signup-checkbox input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.signup-checkbox span {
  position: absolute;
  left: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  width: 600px;
  margin-top: 35px;
}


.signup-button {
  padding: 6px 12px;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #16c431, #048e37);
  background-image: -moz-linear-gradient(top, #16c431, #048e37);
  background-image: -ms-linear-gradient(top, #16c431, #048e37);
  background-image: -o-linear-gradient(top, #16c431, #048e37);
  background-image: linear-gradient(to bottom, #16c431, #048e37);
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  height: 40px;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 50px;
}

.signup-button:hover {
  cursor: pointer;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #4ad073, #3e915a);
  background-image: -moz-linear-gradient(top, #4ad073, #3e915a);
  background-image: -ms-linear-gradient(top, #4ad073, #3e915a);
  background-image: -o-linear-gradient(top, #4ad073, #3e915a);
  background-image: linear-gradient(to bottom, #4ad073, #3e915a);
}
