// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.masonry {
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 125px;
}

.organizations {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 30px 50px;
}

.mini-organization {
  margin: 10px 40px;
}

.index-parent {
  position: relative;
}

.mini-organization:hover {
  cursor: pointer;
}

.mini-photo-container {
  width: 250px;
}

.mini-photo {
  width: 250px;
  height: auto;
  margin: 0 auto;
}
