.home {
  position: relative;
}

.home-quote-block {
  position: absolute;
  top: -40vh;
  width: 100%;
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
         -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}

.home-tagline-top {
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10vmin;
  margin: 0 auto;
  color: rgba(240, 228, 193, 0.9);
}

.home-tagline-bottom {
  border-top: 1px solid rgba(240, 228, 193, 0.9);
  display: inline;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 8vmin;
  color: rgba(240, 228, 193, 0.9);
  opacity: 1;
}

.home-tour-button {
  padding: 10px;
  margin: 15px auto;
  width: 150px;
  background-color: rgb(240, 193, 52);
  color: rgb(34, 28, 28);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;
}

.home-tour-button:hover {
  background-color: rgba(241, 210, 118, 0.89);
  color: rgb(34, 28, 28);
  font-weight: bold;
  cursor: pointer;
}

.home-content-block {
  background-color: rgba(233, 229, 209, 0.61);
}

.home-testimonials {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home-user {
  width: 50vw;
  display: flex;
  margin: 5vmax 0 3vmax 0;
  flex-wrap: wrap;
}

.home-org {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.home-testimonial-quote {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-size: 20px;
  margin: 50px 30px 20px 30px;
  text-align: center;
}

.home-testimonial-photo {
  max-width: 100%;
}

.home-testimonial-source {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}

.quote {
  width: 100%;
}

.why-quotes {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
}

.home-quote {
  font-size: 20px;
  color: rgba(51, 23, 3, 0.89);
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.home-quote-source {
  font-size: 12px;
  color: rgba(54, 26, 11, 0.92);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.last-bid {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.give-today {
  font-family: 'Open sans', sans-serif;
  font-size: 22px;
  text-align: center;
  color: rgba(51, 23, 3, 0.89);
}

.home-tour-button2 {
  padding: 10px;
  margin: 25px auto;
  width: 150px;
  background-color: rgb(240, 193, 52);
  color: rgb(34, 28, 28);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;
}

.home-tour-button2:hover {
  background-color: rgba(241, 210, 118, 0.89);
  color: rgb(34, 28, 28);
  font-weight: bold;
  cursor: pointer;
}
