.registry-parent {
  margin: 20px 0 40px 0;
}

.registry-tagline {
  font-family: 'Lora', serif;
  font-size: 60px;
  margin: 25px 0 0 120px;
  color: rgba(98, 67, 35, 0.92);
}

.registry-show {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo-photo {
  width: 800px;
  align-self: flex-start;
  margin: 60px auto 20px auto;
}

.registry-block {
  display: flex;
  justify-content: space-between;
  width: 800px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(126, 85, 68, 0.78);
}

.registry-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 10px 0;
  padding: 5px;
}

.paragraph {
  font-size: 18px;
  margin: 25px 0 10px 20px;
  padding: 5px;
}

.paragraph-end {
  text-align: right;
  font-size: 18px;
  margin: 15px 0 0 20px;
  padding: 5px;
}

.address-block {
  display: flex;
  flex-direction: column;
}

.registry-contact.ul {
}

.no-show {
  display: none;
}

.contact-info {
  // border: 5px solid maroon;
  text-align: right;
}
