.home {
  position: relative;
}

.home-quote-block {
  width: 100vw;
  // opacity: 0;
}

.home-tagline {
  display: inline;
  width: 60%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  position: absolute;
  top: -30%;
  left: 200px;
  margin: 0 auto;
  color: rgba(240, 228, 193, 0.9);
  border-bottom: 1px solid rgba(240, 228, 193, 0.9);
  opacity: 1;
  transition-duration: 0.4;
}

.home-tagline2 {
  display: inline;
  padding: 10px 5px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  position: absolute;
  top: -240px;
  left: 480px;
  color: rgba(240, 228, 193, 0.9);
  opacity: 1;
  transition-duration: 0.4;
}

.home-quote {
  font-size: 20px;
  position: absolute;
  top: -160px;
  right: 120px;
  color: rgba(65, 13, 13, 0.76);
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.home-quote-source {
  font-size: 16px;
  position: absolute;
  top: -120px;
  right: 120px;
  color: rgba(65, 13, 13, 0.76);
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
}

.home-tour-button {
  padding: 10px;
  width: 150px;
  background-color: rgb(144, 13, 52);
  color: rgb(238, 200, 230);
  font-size: 16px;
  position: absolute;
  top: -100px;
  left: 590px;
  border-radius: 10px;
}

.home-tour-button:hover{
  background-color: rgba(172, 50, 108, 0.89);
  color: rgb(65, 6, 52);
  font-weight: bold;
  cursor: pointer;
}

.home-content-block {
  background-color: rgba(233, 229, 209, 0.61);
}

.home-testimonials {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.quote {
  display: flex;
  flex-direction: column;
}

.home-user {
  display: flex;
  margin: 70px 0 50px 0;
}

.home-org {
  display: flex;
  padding: 20px 0 0 0;
}

.home-testimonial-quote {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.home-testimonial-source {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-align: center;
}

.home-tour-button2 {
  padding: 10px;
  margin: 50px auto;
  width: 150px;
  background-color: rgb(144, 13, 52);
  margin: 50px auto;
  width: 150px;
  background-color: rgb(144, 13, 52);
  color: rgb(238, 200, 230);
  font-size: 16px;
  border-radius: 10px;
}

.home-tour-button2:hover {
  background: rgba(172, 50, 108, 0.89);
  color: rgb(65, 6, 52);
  font-weight: bold;
  cursor: pointer;
}
